#sponsorsbg {
  background-color: rgb(6, 11, 14);
  #sponsors {
    margin: auto;
    max-width: 920px;
    padding: 1em;
  }
}

#arc { height: 256px; }
#orana { height: 128px; }
#act { height: 128px; }
